<app-header></app-header>
  <div class="container mt-5">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Address</th>
            <th>Mobile No.</th>
            <th>DOB</th>
            <th>Remarks</th>
            <th>Acion</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of empList">
                <td>{{items.code}}</td>
                <td>{{items.name}}</td>
                <td>{{items.address}}</td>
                <td>{{items.mobile}}</td>
                <td>{{items.dob}}</td>
                <td style="text-align: start;">{{items.remarks}}</td>
                <td>
                    <!-- <button   >Delete</button>
                    <button >Update</button> -->
        
                    <i  class="adjust" routerLink="/update/{{items.id}}" class="fa-solid fa-pen-nib m-3"></i>
                    <i (click)="deleteProduct(items.id)"  class="fa-sharp fa-solid fa-trash"></i>
                </td>
            </tr>
        </tbody>
      </table>

      <div>
        <button a routerLink="/addemp" class="btn btn-primary">Add</button>
      </div>
  </div>
  