<!-- <p>login works!</p>
<button type="button" class="btn btn-primary">Primary</button> -->

<div class="backColor">
    <div class="container">
<div class="row d-flex align-items-center justify-content-center selllerRow">
    <div class="col-10">
        <div class="card">
            <div class="row">
                <h2 class="signUpHeading text-center mb-5">Login</h2>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                    <img src="../../assets/—Pngtree—business recruitment season hr character_3956006.png" alt="cart"
                        class="imageSize" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <form  #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
                      <h6>{{authError}}</h6>
                

                        <div>
                            <label for="email">Email:</label>
                            <br>
                            <input type="email" id="email" name="email" required [(ngModel)]="empData.email">
                            <div *ngIf="userLogin.controls['email']?.invalid && userLogin.controls['email']?.touched">
                              <div *ngIf="userLogin.controls['email'].errors?.['required']">Email is required.</div>
                              <div *ngIf="userLogin.controls['email'].errors?.['email']">Please enter a valid email address.</div>
                            </div>
                          </div>
                        
                          <div>
                            <label for="password">Password:</label>
                            <br>
                            <input type="password" id="password" name="password" required minlength="6" [(ngModel)]="empData.password">
                            <div *ngIf="userLogin.controls['password']?.invalid && userLogin.controls['password']?.touched">
                              <div *ngIf="userLogin.controls['password'].errors?.['required']">Password is required.</div>
                              <div *ngIf="userLogin.controls['password'].errors?.['minlength']">Password must be at least 6 characters long.</div>
                            </div>
                          </div>

                        <div class="col-md-12 text-center inputField mt-3">
                            <button type="submit" class="btn btn-success" [disabled]="userLogin.invalid">Submit</button>
                        </div>

                
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

