
<app-header></app-header>

<div class="container mt-5">

    <div class="row mainRow" >
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <!-- <a routerLink="/details/{{trendyItems.id}}"> -->
          

            <img src="../../assets/—Pngtree—user profile avatar_13369988.png" alt="Employee"
                        class="card-img-top imageSize" />

        
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="detailHeading mb-2">
                <div class="cardsss">
                    <span> Code : </span>
                    <span class="card-title text-start">{{empData?.code}}</span>
                </div>
              
                <div class="cardsss">
                    <span> Name : </span>
                    <span class="card-title text-start">{{empData?.name}}</span>
                </div>

                <div class="cardsss">
                    <span> Name : </span>
                    <span class="card-title text-start">{{empData?.address}}</span>
                </div>

                <div class="cardsss">
                    <span> Name : </span>
                    <span class="card-title text-start">{{empData?.mobile}}</span>
                </div>

                <div class="cardsss">
                    <span> Name : </span>
                    <span class="card-title text-start">{{empData?.dob}}</span>
                </div>

                <div class="cardsss">
                    <span> Name : </span>
                    <span class="card-title text-start">{{empData?.remarks}}</span>
                </div>

            </div>

        </div>
    </div>
</div>
