/* You can add global styles to this file, and also import other style files */


@import "~@fortawesome/fontawesome-free/css/all.css"; 

.backColor{
    background: #20002c; 
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c); 
    background: linear-gradient(to right, #cbb4d4, #20002c); 
  }